/* In your global CSS file, e.g., styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#root {
    min-height: 100vh;
    display: flex;
}

::-webkit-scrollbar {

    width: 2px;
    height: 5px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(132, 132, 245, 0.774);
}